<h1>Tu compra se ha realizado con éxito!!</h1>


<h3>Cliente: <%= @invoice.cliente %></h3>
<h3>Proveedor: <%= @invoice.proveedor %></h3>
<h3>Bruto: <%= @invoice.bruto %></h3>
<h3>IVA: <%= @invoice.iva %></h3>
<h3>Total: <%= @invoice.total %></h3>
<h3>id invoice: <%= @invoice._id %></h3>
<h3>Sku: <%= @invoice.sku %></h3>
<h3>Cantidad: <%= @invoice.cantidad %></h3>
<h3>Direccion: <%= @invoice.direccion %></h3>
    
<%= link_to "Regresar a la tienda", spree_path %>
